<br>
<br>
<br>
<br>
<br>
<!--<div ng-app style="color: red; text-decoration-color: #2C93FF">-->
  eee {{name}} {{passed}}
<!--<div *ng-template="let us=user">-->
 <!--<div>-->
   <!--{{us.name}}-->
 <!--</div>-->

<!--</div>-->
<!--<ng-template let u="user">-->
  <!--<li>-->
    <!--{{u.name}}-->
    <!--{{u.email}}-->
  <!--</li>-->
<!--</ng-template>-->

  <!--<li *ngLet="'user' as u">-->
    <!--<span> {{ u.name }} </span>-->
  <!--</li>-->

<!--<p>-->
<!--un{{userName}}-->
<!--p{{passed}}-->
<!--d{{date}}-->
<!--</p>-->


  <!--{{tt}}-->
  <!--List of users:-->
<!--<li *ngFor="let user of users">-->
  <!--{{user.name}}-->
  <!--{{user.email}}-->
<!--</li>-->
<!--<p>{{item}}</p>-->

<!--wwwwww{{uA}}-->
<!--&lt;!&ndash;{{userAnswers.id}}&ndash;&gt;-->
<!--{{userAnswers.passDate}}-->
<!--{{userAnswers.userName}}-->
<!--{{userAnswers.goal}}-->
<!--{{userAnswers.quality}}-->
<!--sssss{{uA.passed}}-->


<!--</div>-->
























<!--&lt;!&ndash; Page Heading &ndash;&gt;-->
<!--<h1 class="my-4">Page Heading-->
  <!--<small>Secondary Text</small>-->
<!--</h1>-->

<!--<div class="row">-->

  <!--<div class="col-lg-6 col-sm-6 portfolio-item"-->
       <!--style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/77.jpg);">-->
    <!--<div class="card h-70">-->
      <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title">-->
          <!--<a href="#">Project One</a>-->
        <!--</h4>-->
        <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->



  <!--<div class="col-lg-6 col-sm-6 portfolio-item">-->
    <!--<div class="card h-70">-->
      <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title">-->
          <!--<a href="#">Project Two</a>-->
        <!--</h4>-->
        <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-lg-6 col-sm-6 portfolio-item">-->
    <!--<div class="card h-70">-->
      <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title">-->
          <!--<a href="#">Project Three</a>-->
        <!--</h4>-->
        <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quisquam, error quod sed cumque, odio distinctio velit nostrum temporibus necessitatibus et facere atque iure perspiciatis mollitia recusandae vero vel quam!</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-lg-6 col-sm-6 portfolio-item">-->
    <!--<div class="card h-70">-->
      <!--<a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>-->
      <!--<div class="card-body">-->
        <!--<h4 class="card-title">-->
          <!--<a href="#">Project Four</a>-->
        <!--</h4>-->
        <!--<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!-- /.row -->



<!--&lt;!&ndash; Card deck &ndash;&gt;-->
<!--&lt;!&ndash;<div class="card-deck">&ndash;&gt;-->


<!--<div class="tests">-->

  <!--<div class="test first">-->
    <!--<div class="content-wrap">-->
      <!--<div class="content">-->
        <!--<h1>Ціннісна сумісність</h1>-->
        <!--<p>Дізнайся, що для тебе важливіше: безпека, комфорт, досягнення, гармонічні відносини, творчисть чи-->
          <!--розвиток.</p>-->
        <!--<a href="#" class="button">Пройти тест</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="test second">-->
    <!--<div class="content-wrap">-->
      <!--<div class="content">-->
        <!--<h1>Сексуальна сумісність</h1>-->
        <!--<p>Дізнайся, що для тебе важливіше: безпека, комфорт, досягнення, гармонічні відносини, творчисть чи-->
          <!--розвиток. </p>-->
        <!--<a href="#" class="button">Пройти тест</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="test third">-->
    <!--<div class="content-wrap">-->
      <!--<div class="content">-->
        <!--<h1>Психологічна сумісність</h1>-->
        <!--<p>Дізнайся, що для тебе важливіше: безпека, комфорт, досягнення, гармонічні відносини, творчисть чи-->
          <!--розвиток. </p>-->
        <!--<a href="#" class="button">Пройти тест</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="test fourth">-->
    <!--<div class="content-wrap">-->
      <!--<div class="content">-->
        <!--<h1>Сімейна сумісність</h1>-->
        <!--<p>Дізнайся, що для тебе важливіше: безпека, комфорт, досягнення, гармонічні відносини, творчисть чи-->
          <!--розвиток. </p>-->
        <!--<a href="#" class="button">Пройти тест</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->



  <!--<div class="row">-->
    <!--<div class="col m6">-->

      <!--&lt;!&ndash; Card &ndash;&gt;-->
      <!--<div class="card card-image mb-6"-->
           <!--style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/75.jpg);">-->

      <!--&lt;!&ndash; Content &ndash;&gt;-->
      <!--<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">-->
        <!--<div>-->
          <!--<h5 class="pink-text"><i class="fa fa-pie-chart"></i></h5>-->
          <!--<h3 class="card-title pt-2"><strong>Ціннісна сумісність</strong></h3>-->
          <!--<p>Дізнайся, що для тебе важливіше: безпека, комфорт, досягнення, гармонічні відносини, творчисть чи-->
            <!--розвиток</p>-->
          <!--<div class="card-footer success-color white-text" style="background-color: blueviolet">-->
            <!--<a class="btn btn-pink"><i class="fa fa-clone left"></i>Пройти тест</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Content &ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash; Card &ndash;&gt;-->
    <!--</div>-->



      <!--<div class="col m6">-->
        <!--&lt;!&ndash; Card &ndash;&gt;-->
        <!--<div class="card card-image mb-6"-->
             <!--style="background-image: url(https://mdbootstrap.com/img/Photos/Others/images/77.jpg);">-->
          <!--&lt;!&ndash; Content &ndash;&gt;-->
          <!--<div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">-->
            <!--<div>-->
              <!--<h5 class="pink-text"><i class="fa fa-pie-chart"></i></h5>-->
              <!--<h3 class="card-title pt-2"><strong>Ціннісна сумісність</strong></h3>-->
              <!--<p>Дізнайся, що для тебе важливіше: безпека, комфорт, досягнення, гармонічні відносини, творчисть чи-->
                <!--розвиток</p>-->
              <!--<div class="card-footer success-color white-text" style="background-color: blueviolet">-->
                <!--<a class="btn btn-pink"><i class="fa fa-clone left"></i>Пройти тест</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; Content &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash; Card &ndash;&gt;-->
      <!--</div>-->


  <!--</div>-->


<!--&lt;!&ndash; Card deck &ndash;&gt;-->


































<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
<!------ Include the above in your HEAD tag ---------->

<!--<div class="container">-->
  <!--<div class="row"><br>-->
    <!--<span class="image-position"><a href="https://www.facebook.com/meuix/?ref=settings" target="_blank">-->
	           <!--<img src="https://lh4.googleusercontent.com/fLEIj3iQb7O1FhjOpLFbJtHmsMlLGmLynSWUvAP70qF0HLEBty-FANvwweg7Sv2XqSpzOKNI=w1366-h638"></a>-->
	        <!--</span>-->
  <!--</div>-->
  <!--<div class="row"><br><br>-->
    <!--<div class="col-sm-8 col-sm-offset-2">-->
      <!--<div class="loader">-->
        <!--<div class="col-xs-3 col-xs-offset-5">-->
          <!--<div id="loadbar" style="display: none;">-->
            <!--<img src="https://8finatics.s3.amazonaws.com/static/reload_emi.gif" alt="Loading" class="center-block loanParamsLoader" style="">-->
          <!--</div>-->
        <!--</div>-->

        <!--<div id="quiz">-->

          <!--<div class="question">-->
            <!--<h3><span class="label label-warning" id="qid">1</span>-->
              <!--<span id="question"> How can you add a single line comment in a JavaScript?</span>-->
            <!--</h3>-->
          <!--</div>-->
          <!--<ul>-->
            <!--<li>-->
              <!--<input type="radio" id="f-option" name="selector" value="1">-->
              <!--<label for="f-option" class="element-animation">/*&#45;&#45; comment &#45;&#45;*/</label>-->
              <!--<div class="check"></div>-->
            <!--</li>-->

            <!--<li>-->
              <!--<input type="radio" id="s-option" name="selector" value="2">-->
              <!--<label for="s-option" class="element-animation">comment //</label>-->
              <!--<div class="check"><div class="inside"></div></div>-->
            <!--</li>-->

            <!--<li>-->
              <!--<input type="radio" id="t-option" name="selector" value="3">-->
              <!--<label for="t-option" class="element-animation">comment [ ]</label>-->
              <!--<div class="check"><div class="inside"></div></div>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="text-muted">-->
        <!--<span id="answer"></span>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-sm-8 col-sm-offset-2">-->
      <!--<div id="result-of-question" class="pulse animated" style="display: none;">-->
        <!--<span id="totalCorrect" class="pull-right"></span>-->
        <!--<table class="table table-hover table-responsive" >-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th>Question No.</th>-->
            <!--<th>Our answer</th>-->
            <!--<th>Your answer</th>-->
            <!--<th>Result</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody id="quizResult"></tbody>-->
        <!--</table>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->












<!--<script>-->

  <!--/*&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;loader script-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;*/-->
  <!--$(function(){-->
    <!--var loading = $('#loadbar').hide();-->
    <!--$(document)-->
      <!--.ajaxStart(function () {-->
        <!--loading.show();-->
      <!--}).ajaxStop(function () {-->
      <!--loading.hide();-->
    <!--});-->

    <!--var questionNo = 0;-->
    <!--var correctCount = 0;-->
    <!--var q = [-->
      <!--{'Q':'How do you write "Hello World" in an alert box?', 'A':2,'C':['msg("Hello World");','alert("Hello World");','alertBox("Hello World");']},-->
      <!--{'Q':'How do you create a function in JavaScript?', 'A':3,'C':['function:myFunction()','function = myFunction()','function myFunction()']},-->
      <!--{'Q':'How to write an IF statement in JavaScript?', 'A':1,'C':['if (i == 5)','if i = 5 then','if i == 5 then']},-->
      <!--{'Q':'How does a FOR loop start?', 'A':2,'C':['for (i = 0; i <= 5)','for (i = 0; i <= 5; i++)','for i = 1 to 5']},-->
      <!--{'Q':'What is the correct way to write a JavaScript array?', 'A':3,'C':['var colors = "red", "green", "blue"','var colors = (1:"red", 2:"green", 3:"blue")','var colors = ["red", "green", "blue"]']}-->
    <!--];-->


    <!--$(document.body).on('click',"label.element-animation",function (e) {-->
      <!--//ripple start-->
      <!--var parent, ink, d, x, y;-->
      <!--parent = $(this);-->
      <!--if(parent.find(".ink").length == 0)-->
        <!--parent.prepend("<span class='ink'></span>");-->

      <!--ink = parent.find(".ink");-->
      <!--ink.removeClass("animate");-->

      <!--if(!ink.height() && !ink.width())-->
      <!--{-->
        <!--d = Math.max(parent.outerWidth(), parent.outerHeight());-->
        <!--ink.css({height: "100px", width: "100px"});-->
      <!--}-->

      <!--x = e.pageX - parent.offset().left - ink.width()/2;-->
      <!--y = e.pageY - parent.offset().top - ink.height()/2;-->

      <!--ink.css({top: y+'px', left: x+'px'}).addClass("animate");-->
      <!--//ripple end-->

      <!--var choice = $(this).parent().find('input:radio').val();-->
      <!--console.log(choice);-->
      <!--var anscheck =  $(this).checking(questionNo, choice);//$( "#answer" ).html(  );-->
      <!--q[questionNo].UC = choice;-->
      <!--if(anscheck){-->
        <!--correctCount++;-->
        <!--q[questionNo].result = "Correct";-->
      <!--} else {-->
        <!--q[questionNo].result = "Incorrect";-->
      <!--}-->
      <!--console.log("CorrectCount:" + correctCount);-->
      <!--setTimeout(function(){-->
        <!--$('#loadbar').show();-->
        <!--$('#quiz').fadeOut();-->
        <!--questionNo++;-->
        <!--if((questionNo + 1) > q.length){-->
          <!--alert("Quiz completed, Now click ok to get your answer");-->
          <!--$('label.element-animation').unbind('click');-->
          <!--setTimeout(function(){-->
            <!--var toAppend = '';-->
            <!--$.each(q, function(i, a){-->
              <!--toAppend += '<tr>'-->
              <!--toAppend += '<td>'+(i+1)+'</td>';-->
              <!--toAppend += '<td>'+a.A+'</td>';-->
              <!--toAppend += '<td>'+a.UC+'</td>';-->
              <!--toAppend += '<td>'+a.result+'</td>';-->
              <!--toAppend += '</tr>'-->
            <!--});-->
            <!--$('#quizResult').html(toAppend);-->
            <!--$('#totalCorrect').html("Total correct: " + correctCount);-->
            <!--$('#quizResult').show();-->
            <!--$('#loadbar').fadeOut();-->
            <!--$('#result-of-question').show();-->
            <!--$('#graph-result').show();-->
            <!--chartMake();-->
          <!--}, 1000);-->
        <!--} else {-->
          <!--$('#qid').html(questionNo + 1);-->
          <!--$('input:radio').prop('checked', false);-->
          <!--setTimeout(function(){-->
            <!--$('#quiz').show();-->
            <!--$('#loadbar').fadeOut();-->
          <!--}, 1500);-->
          <!--$('#question').html(q[questionNo].Q);-->
          <!--$($('#f-option').parent().find('label')).html(q[questionNo].C[0]);-->
          <!--$($('#s-option').parent().find('label')).html(q[questionNo].C[1]);-->
          <!--$($('#t-option').parent().find('label')).html(q[questionNo].C[2]);-->
        <!--}-->
      <!--}, 1000);-->
    <!--});-->


    <!--$.fn.checking = function(qstn, ck) {-->
      <!--var ans = q[questionNo].A;-->
      <!--if (ck != ans)-->
        <!--return false;-->
      <!--else-->
        <!--return true;-->
    <!--};-->

<!--// chartMake();-->
    <!--function chartMake(){-->

      <!--var chart = AmCharts.makeChart("chartdiv",-->
        <!--{-->
          <!--"type": "serial",-->
          <!--"theme": "dark",-->
          <!--"dataProvider": [{-->
            <!--"name": "Correct",-->
            <!--"points": correctCount,-->
            <!--"color": "#00FF00",-->
            <!--"bullet": "http://i2.wp.com/img2.wikia.nocookie.net/__cb20131006005440/strategy-empires/images/8/8e/Check_mark_green.png?w=250"-->
          <!--}, {-->
            <!--"name": "Incorrect",-->
            <!--"points":q.length-correctCount,-->
            <!--"color": "red",-->
            <!--"bullet": "http://4vector.com/i/free-vector-x-wrong-cross-no-clip-art_103115_X_Wrong_Cross_No_clip_art_medium.png"-->
          <!--}],-->
          <!--"valueAxes": [{-->
            <!--"maximum": q.length,-->
            <!--"minimum": 0,-->
            <!--"axisAlpha": 0,-->
            <!--"dashLength": 4,-->
            <!--"position": "left"-->
          <!--}],-->
          <!--"startDuration": 1,-->
          <!--"graphs": [{-->
            <!--"balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",-->
            <!--"bulletOffset": 10,-->
            <!--"bulletSize": 52,-->
            <!--"colorField": "color",-->
            <!--"cornerRadiusTop": 8,-->
            <!--"customBulletField": "bullet",-->
            <!--"fillAlphas": 0.8,-->
            <!--"lineAlpha": 0,-->
            <!--"type": "column",-->
            <!--"valueField": "points"-->
          <!--}],-->
          <!--"marginTop": 0,-->
          <!--"marginRight": 0,-->
          <!--"marginLeft": 0,-->
          <!--"marginBottom": 0,-->
          <!--"autoMargins": false,-->
          <!--"categoryField": "name",-->
          <!--"categoryAxis": {-->
            <!--"axisAlpha": 0,-->
            <!--"gridAlpha": 0,-->
            <!--"inside": true,-->
            <!--"tickLength": 0-->
          <!--}-->
        <!--});-->
    <!--}-->
  <!--});-->

<!--</script>-->
